{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Dificultades de Aprendizaje</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/chat_DF.css' %}">
    <script>
        // Función para habilitar o deshabilitar el campo de texto según la opción seleccionada
        function habilitarCampoTexto(elemento) {
            var textField = document.getElementById(elemento.id + "-text");
            textField.disabled = (elemento.value !== "Otro");
        }
    </script>    
</head>
<body>
    <h1>Dificultades de Aprendizaje</h1>
    <!-- Botón para volver a la pantalla de inicio -->
    <form id="formulario" method="POST" action="">
        <label for="perfil_hijo">Seleccionar perfil del hijo:</label>
        <select id="perfil_hijo" name="perfil_hijo">
            <option value="">Ningún perfil de hijo creado</option>
            {% for hijo in hijos %}
                <option value="{{ hijo.id }}">{{ hijo.nombre }}</option>
            {% endfor %}
        </select>
        <div class="form-group additional-fields" id="p1">
            <h2>Pregunta 1</h2>
            <label for="p1">¿Cuál de las siguientes áreas presenta mayor dificultad de aprendizaje para tu hijo?</label><br>
            <select id="p1" name="p1" onchange="habilitarCampoTexto(this)">
                <option id="p1" name="p1" value="">Seleccionar</option>
                <option id="p1" name="p1" value="Lectura y comprensión">Lectura y comprensión</option>
                <option id="p1" name="p1" value="Matemáticas">Matemáticas</option>
                <option id="p1" name="p1" value="Escritura y expresión">Escritura y expresión</option>
                <option id="p1" name="p1" value="Organización y planificación">Organización y planificación</option>
                <option id="p1" name="p1" value="Otro">Otro</option>
            </select>
            <input type="text" id="p1-text" name="p1" disabled><br>
        </div>

        <!-- Pregunta 2 -->
        <div id="p2">
            <h2>Pregunta 2</h2>
            <label for="p2">¿Qué tipo de dificultades sociales o emocionales ha experimentado tu hijo en relación con su rendimiento académico?</label><br>
            <select id="p2" name="p2" onchange="habilitarCampoTexto(this)">
                <option id="p2" name="p2" value="">Seleccionar</option>
                <option id="p2" name="p2" value="Dificultad para relacionarse con sus compañeros">Dificultad para relacionarse con sus compañeros</option>
                <option id="p2" name="p2" value="Ansiedad o estrés relacionado con el rendimiento escolar">Ansiedad o estrés relacionado con el rendimiento escolar</option>
                <option id="p2" name="p2" value="Baja autoestima y falta de confianza en sí mismo">Baja autoestima y falta de confianza en sí mismo</option>
                <option id="p2" name="p2" value="Comportamiento disruptivo en el aula">Comportamiento disruptivo en el aula</option>
                <option id="p2" name="p2" value="Otro">Otro</option>
            </select>
            <input type="text" id="p2-text" name="p2" disabled><br>
        </div>

        <!-- Pregunta 3 -->
        <div id="p3">
            <h2>Pregunta 3</h2>
            <label for="p3">¿Cuál de los siguientes síntomas describe mejor el comportamiento de tu hijo durante las tareas escolares?</label><br>
            <select id="p3" name="p3" onchange="habilitarCampoTexto(this)">
                <option id="p3" name="p3" value="">Seleccionar</option>
                <option id="p3" name="p3" value="Desinterés y falta de motivación">Desinterés y falta de motivación</option>
                <option id="p3" name="p3" value="Dificultad para mantener la atención">Dificultad para mantener la atención</option>
                <option id="p3" name="p3" value="Frustración y bajo autoestima">Frustración y bajo autoestima</option>
                <option id="p3" name="p3" value="Problemas para seguir instrucciones">Problemas para seguir instrucciones</option>
                <option id="p3" name="p3" value="Otro">Otro</option>
            </select>
            <input type="text" id="p3-text" name="p3" disabled><br>
        </div>
          

        <!-- Pregunta 4 -->
        <div id="p4">
            <h2>Pregunta 4</h2>
            <label for="p4">¿Qué tipo de apoyo educativo consideras que sería más beneficioso para tu hijo en este momento?</label><br>
            <div class="alternativas">
                <input type="checkbox" id="alt1" value="Clases particulares"> <label for="alt1">Clases particulares</label><br>
                <input type="checkbox" id="alt2" value="Tutorías académicas"> <label for="alt2">Tutorías académicas</label><br>
                <input type="checkbox" id="alt3" value="Material didáctico adicional"> <label for="alt3">Material didáctico adicional</label><br>
            </div>
            <textarea id="p4-textarea" name="p4" rows="4" cols="50"></textarea><br>
        </div>        

        <!-- Pregunta 5 -->
        <div id="p5">
            <h2>Pregunta 5</h2>
            <label for="p5">¿Cuál de las siguientes estrategias de apoyo has utilizado con tu hijo?</label><br>
            <select id="p5" name="p5" onchange="habilitarCampoTexto(this)">
                <option id="p5" name="p5" value="">Seleccionar</option>
                <option id="p5" name="p5" value="Reforzamiento positivo y recompensas">Reforzamiento positivo y recompensas</option>
                <option id="p5" name="p5" value="Tutorías o clases particulares">Tutorías o clases particulares</option>
                <option id="p5" name="p5" value="Adaptaciones en el entorno de estudio">Adaptaciones en el entorno de estudio</option>
                <option id="p5" name="p5" value="Programas de intervención educativa especializados">Programas de intervención educativa especializados</option>
                <option id="p5" name="p5" value="Otro">Otro</option>
            </select>
            <input type="text" id="p5-text" name="p5" disabled><br>
        </div>
        <input type="hidden" id="perfil_hijo_seleccionado" name="perfil_hijo_seleccionado" value="">
        <a id="volverinicio" href="{% url 'inicio' %}">Volver a la pantalla de inicio</a>
        <form id="myform" onsubmit="submitForm();">
            {% csrf_token %}
            <input type="hidden" name="hiddenMessage" id="hiddenMessage">
            <button type="submit">Enviar</button>
        </form>
    </form>
    <div id="loading-overlay">
        <div id="loading-indicator"></div>
        <div id="loading-message">Enviando datos, espere un momento...</div>
    </div>
    <script src="{% static 'JS/java.df.js' %}"></script>
    <script>
        function showLoadingOverlay() {
        document.getElementById('loading-overlay').style.display = 'flex';
        }

        // Función para ocultar el overlay de carga
        function hideLoadingOverlay() {
            document.getElementById('loading-overlay').style.display = 'none';
        }

        // Agregar el evento 'submit' al formulario y mostrar el overlay cuando se envíe
        document.getElementById('formulario').addEventListener('submit', function() {
            showLoadingOverlay();
        });

        function submitForm() {
            // Obtener el mensaje del formulario
            var message = document.getElementById('message').value;

            // Construir el objeto de mensaje
            var chatMessage = {
                role: 'user',
                content: message
            };

            // Convertir el objeto de mensaje en una cadena JSON
            var chatMessageJSON = JSON.stringify(chatMessage);

            // Guardar el mensaje en el almacenamiento local
            localStorage.setItem('chatMessage', chatMessageJSON);
            }

        // Capturar los elementos del DOM
        const textarea = document.getElementById('p4-textarea');
        const checkboxes = document.querySelectorAll('.alternativas input[type="checkbox"]');

        // Escuchar los eventos de cambio en las checkboxes
        checkboxes.forEach((checkbox) => {
            checkbox.addEventListener('change', () => {
                if (checkbox.checked) {
                    textarea.value += checkbox.value + '\n';
                } else {
                    textarea.value = textarea.value.replace(checkbox.value + '\n', '');
                }
            });
        });

    </script>
</body>
</html>