body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.container {
    margin-top: 50px;
    max-width: 600px;
    padding: 10px;
    background-color: #fff;
}

.contenedor{
    width: 60%;
    margin-left: 20%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 10px;
}


.botones{
    margin-top: 5%;
    display: flex;
    width: 100%;
}

.Separador{
    width: 40%;
    background-color: transparent;
}

button{
    width: 30%;
}

a{
    width: 30%;
    margin-right: 0%;
}

.datepicker {
    border: 1px solid #e2e0e0;
    border-radius: 5px;
    padding: 5px;
    color: #888;
    transition: border-color 0.3s ease;
    width: 100%;
}

.datepicker:focus {
    border-color: #78c2ad;
    outline: none;
}

@media (max-width: 768px) {
    .container {
        padding: 10px; /* Reducción del espaciado interno en pantallas pequeñas */
    }
    .contenedor {
        width: 100%; /* Ancho completo en pantallas pequeñas */
        margin-left: 0; /* Sin margen en pantallas pequeñas */
    }

    .Separador{
        width: 20%;
    }
    
    a{
        width: 40%;
    }

    button{
        width: 40%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
        padding: 10px; /* Reducción del espaciado interno en pantallas pequeñas */
    }
    .contenedor {
        width: 80%; 
        margin-left: 10%; /* Sin margen en pantallas pequeñas */
    }

    .Separador{
        width: 20%;
    }
    
    a{
        width: 40%;
    }

    button{
        width: 40%;
    }
}