h1 {
    text-align: center; /* Centra el texto del encabezado h1 */
}

form {
    max-width: 50%; /* Establece el ancho máximo del formulario */
    height: auto;
    margin: 0 auto; /* Centra el formulario horizontalmente */
    padding: 20px; /* Agrega un espacio interno alrededor del formulario */
    border: 1px solid #ccc; /* Agrega un borde de 1 píxel con un color gris claro (#ccc) al formulario */
    background-color: #f9f9f9; /* Establece el color de fondo del formulario */
}

label {
    display: block; /* Hace que las etiquetas sean elementos de bloque, lo que las muestra en una línea separada */
    margin-bottom: 10px; /* Agrega un margen inferior de 10 píxeles a las etiquetas */
    font-weight: bold; /* Establece el peso de la fuente en negrita para las etiquetas */
}

/* Estilos para dispositivos móviles (hasta 768px) */
@media screen and (max-width: 768px) {
    form {
        max-width: 100%; /* Establece el ancho máximo al 100% en pantallas más pequeñas */
        padding: 10px; /* Reduce el espacio interno del formulario en pantallas más pequeñas */
    }

    /* Ajustar los estilos para los botones "Volver a la pantalla de inicio" y "Enviar" */
    a#volverinicio,
    button[type="submit"] {
        width: 100%; /* Establece el ancho al 100% en pantallas más pequeñas */
        margin-left: 0; /* Reinicia el margen izquierdo para que ocupe toda la pantalla en dispositivos móviles */
        margin-top: 10px; /* Ajusta el margen superior para separar los botones en dispositivos móviles */
    }

    /* Ajustar el orden de los botones en pantallas más pequeñas */
    .buttons-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    display: none; /* Ocultar por defecto */
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Capa superior para que esté por encima de todo */
}

#loading-indicator {
    border: 4px solid #f3f3f3; /* Crea un borde para el círculo */
    border-top: 4px solid #4caf50; /* Establece el color del borde superior para la animación */
    border-radius: 50%; /* Hace que el círculo tenga bordes redondeados para que sea un círculo */
    width: 50px; /* Establece el tamaño del círculo */
    height: 50px; /* Establece el tamaño del círculo */
    animation: spin 2s linear infinite; /* Agrega una animación para girar el círculo */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading-message {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px; /* Añade un margen superior para separar el círculo del mensaje */
}