body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background-color: #DCFFE9;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
  
.contenedor {
    width: 100%;
}

.Espacio-Horizontal-offcanvas{
    height:20px;
    background-color: transparent;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
}

.espacio{
    margin-top: 20px;
}
.form-select{
    max-width: 100%;
}

.form-control{
    max-width: 100%;
}

.contenedor-formulario{
    margin-top: 20px;
    width: 100%;
}

.formulario-container{
    display: flex;
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    padding: 20px;
}

.seccion-botones{
    display: flex;
    margin-top: 20px;
}

#volverinicio, #Btn-envio{
    width: 25%;
}
#Btn-envio{
    margin-left: 50%;
}


/* Estilos para dispositivos móviles (hasta 768px) */
@media screen and (max-width: 768px) {
    .contenedor-formulario{
        margin-top: 20px;
        width: 100%;
    }

    .formulario-container{
        width: 100%;
        margin-left: 0;
    }

    .form-select{
        max-width: 100%;
    }
    
    .form-control{
        max-width: 100%;
    }

    /* Ajustar los estilos para los botones "Volver a la pantalla de inicio" y "Enviar" */
    #volverinicio,
    #Btn-envio {
        width: 40%; /* Establece el ancho al 100% en pantallas más pequeñas */; /* Reinicia el margen izquierdo para que ocupe toda la pantalla en dispositivos móviles */
        margin-top: 10px; /* Ajusta el margen superior para separar los botones en dispositivos móviles */
    }

    #Btn-envio{
        margin-left: 20%;
    }
    .seccion-botones{
        display: flex;
    }
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    display: none; /* Ocultar por defecto */
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Capa superior para que esté por encima de todo */
}

#loading-indicator {
    border: 4px solid #f3f3f3; /* Crea un borde para el círculo */
    border-top: 4px solid #4caf50; /* Establece el color del borde superior para la animación */
    border-radius: 50%; /* Hace que el círculo tenga bordes redondeados para que sea un círculo */
    width: 50px; /* Establece el tamaño del círculo */
    height: 50px; /* Establece el tamaño del círculo */
    animation: spin 2s linear infinite; /* Agrega una animación para girar el círculo */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading-message {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px; /* Añade un margen superior para separar el círculo del mensaje */
}