/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background-color: #DCFFE9;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
}

.Espacio-Horizontal-offcanvas{
    height:20px;
    background-color: transparent;
}

.formulario_chat{
    padding: 20px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.Separation-items{
    display: flex;
}

.Seleccion-perfil{
    width: 30%;
}

.parrafo-texto{
    border: dashed;
    border-color: #56cc9d;
    margin-bottom: 20%;
    padding: 5px;
}

.chat-items{
    width: 65%;
    margin-left: 5%;
}

.contenedor-formulario{
    position: absolute;
    margin-top: 20px;
    width: 100%;
}

#btn-enviar{
    margin-left: 80%;
    margin-top: 10px;
    width: 20%;
}

#chat-history {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    height: 400px; /* Ajusta la altura según tus preferencias */
    width: 100%; /* Ajusta el ancho según tus preferencias */
    overflow-y: auto; /* Agrega desplazamiento vertical si el contenido excede la altura */
    background-color: #f9f9f9;
}

.message {
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 10px;
    max-width: 70%;
}

.user {
    align-self: flex-end;
    background-color: #dcf8c6;
}

.assistant {
    align-self: flex-start;
    background-color: #ffffff;
}

.btn-inicio{
    width: 100%;
    position: relative;
}

#back-link{
    width: 20%;
    margin-top: 20%;
    margin-left: 40%;
    margin-right: 40%;
}

@media (max-width: 768px) {
    .Separation-items{
        display: block;
        width: 100%;
        margin-left: 0;
    }

    .Seleccion-perfil,
    .chat-items {
        width: 100%; /* Ocupar todo el ancho disponible en dispositivos móviles */
        margin-left: 0;
        padding: 0;
    }

    #btn-enviar{
        width: 50%;
        margin-left: 50%;
    }

    .btn-inicio{
        width: 100%;
    }
    #back-link{
        width: 80%;
        margin-top: 20%;
        margin-left: 10%;
        margin-right: 10%;
    }
}