body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background-color: #DCFFE9;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
  
.contenedor {
    width: 100%;
}
.content {
    text-align: center;
    margin-top: 100px;
}

dialog {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 0;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
}

.definicion {
    flex: 1; /* El texto ocupará el 50% del ancho del contenedor flex */
    padding: 20px; /* Espacio alrededor del texto */
}

#text_parrafo{
    text-align: center;
    font-size: 20px;
}

.options {
    max-width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;
}
.secciones {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; /* Espacio entre las secciones */
  }

.Espacio-horizontal {
    height: 80px; /* Ajusta la altura según tu preferencia para separar las secciones */
    width: 100%; /* Garantiza que el espacio horizontal ocupe todo el ancho disponible */
    background-color: transparent; /* Esto asegura que el espacio no tenga color de fondo visible */
}
.Espacio-Horizontal-offcanvas{
    height:20px;
    background-color: transparent;
}

.features_image-wrapper {
    flex: 1; /* La imagen ocupará el 50% del ancho del contenedor flex */
}

.features_image {
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
    height: auto;
    display: block;
}

h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: center;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    animation: fadeIn 0.3s ease-in-out;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.cerrar:hover,
.cerrar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#user_name {
    color:#000;
}
#password_style {
    color:#000;
}
.login-required-message {
    display: none;
    background-color: #EDAEAE;
    color: #000;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 3%;
    left: 37%;
    width: 25%;
    z-index: 1;
}
.option3{
    width: 180px;
    height: auto;
    background-color: #5FF974;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
    margin-left: 280px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.option3:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    color: black;
}

/* Estilos base comunes para todos los tamaños de pantalla */
.popup-content form label {
    font-size: 18px;
    color: #000;
    margin-bottom: 5px;
}

.popup-content form input[type="text"],
.popup-content form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.popup-content a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    margin-top: 15px;
}

.popup-content a:hover {
    text-decoration: underline;
}

.loader {
    flex: 1;
    width: 100%;
    height: 12px;
    display: inline-block;
    background-color: #78c2ad;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.25) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.25) 75%, transparent 75%, transparent);
    font-size: 30px;
    background-size: 1em 1em;
    box-sizing: border-box;
    animation: barStripe 1s linear infinite;
}
  
@keyframes barStripe {
    0% {
        background-position: 1em 0;
    }
    100% {
        background-position: 0 0;
    }
}

.Superior-popup{
    display: flex;
    align-items: center;
}

.Titulo-popup {
    padding: 20px; /* Ajusta el valor del padding según tus necesidades */
    text-align: center; /* Centra horizontalmente el contenido */
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente verticalmente */
}

.Titulo-popup h3 {
    margin: 0; /* Elimina cualquier margen predeterminado para evitar saltos de línea */
    white-space: nowrap; /* Evita el salto de línea */
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px); /* Desplaza hacia arriba para dar un efecto de entrada */
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

/* Define una animación llamada "fadeOut" para el cierre */
@keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-20px);
    }
}

/* Estilos para pantallas más pequeñas (hasta 768px) */
@media (max-width: 768px) {
    .secciones {
        flex-direction: column;
    }

    .option,
    .definicion {
        width: 100%; /* Ocupar todo el ancho disponible en dispositivos móviles */
        order: 1;
    }

    .definicion {
        order: 2;
    }
}
  
/* Estilos para pantallas medianas (entre 769px y 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
      width: 90%; /* Ajusta el ancho al 90% en pantallas medianas */
    }
}
  
/* Estilos para pantallas más grandes (desde 1025px) */
@media screen and (min-width: 1025px) {
    .container {
        width: 80%; /* Ajusta el ancho al 80% en pantallas más grandes */
    }
}